{% extends 'base.html' %}
{% load static %}

{% block title %} CREATE A NEW REVIEW | Trips {% endblock %}

{% block css_files %}
	<link rel="stylesheet" href="{% static 'bookings/css/bookings_nav.css' %}">
	<link rel="stylesheet" href="{% static 'reviews/css/new_review.css' %}">
	<script src="{% static 'reviews/js/new_review.js' %}" defer></script>
{% endblock %}

{% block content %}
	<div class="inner_container">
		<header>
			{% include 'includes/navigation.html' %}
		</header>
		
		<div class="content_container">
			<section class="new_review_section">
				<h1>{{ tour.name|upper }}</h1>

				
				<form method="POST" class="new_review_form">
					<h4>CREATE A REVIEW</h4>

					{% csrf_token %}

					<div class="review_form_control {% if form.review.errors %}error{% endif %}">
						{{ form.review }}

						{{ form.review.errors }}
					</div>

					<div>
						<ul class="radio_btn_list">
							{% for rating in form.rating %}
								<li class="radio_btn_container">
									{{ rating.tag }}
									<label for="{{ rating.id_for_label }}" class="radio_btn_label">
										{{ rating.choice_label }}
										<i class="fas fa-star"></i>
									</label>
								</li>
							{% endfor %}

						</ul>
						{{ form.rating.errors }}
					</div>

					<div class="form_btn_container">
						<button>SUBMIT</button>
					</div>
				</form>
			</section>
		</div>
	</div>
{% endblock %}