{% extends 'base.html' %}
{% load static %}

{% block title %} Privacy | Trips {% endblock %}

{% block css_files %}
	<link rel="stylesheet" href="{% static 'information/css/information.css' %}">
{% endblock %}

{% block content %}
	<div class="inner_container">
		<header>
			{% include 'includes/navigation.html' %}
		</header>
		
		<div class="content_container">
			<div class="info_header">
				<div class="info_header_img_container">
					<img src="{% static 'information/images/privacy.png' %}" alt="Privacy">
				</div>

				<h1>Privacy</h1>
			</div>

			<div class="info_content_container">
				<p class="info_content_paragraph">
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit alias nam, dolorem inventore mollitia ea delectus blanditiis eligendi, deleniti dicta ullam consequuntur nulla eius recusandae natus eveniet, similique ipsa officiis? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit alias nam, dolorem inventore mollitia ea delectus blanditiis eligendi, deleniti dicta ullam consequuntur nulla eius recusandae natus eveniet, similique ipsa officiis?
				</p>

				<p class="info_content_paragraph">
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit alias nam, dolorem inventore mollitia ea delectus blanditiis eligendi, deleniti dicta ullam consequuntur nulla eius recusandae natus eveniet, similique ipsa officiis? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit alias nam, dolorem inventore mollitia ea delectus blanditiis eligendi, deleniti dicta ullam consequuntur nulla eius recusandae natus eveniet, similique ipsa officiis?
				</p>

				<p class="info_content_paragraph">
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit alias nam, dolorem inventore mollitia ea delectus blanditiis eligendi, deleniti dicta ullam consequuntur nulla eius recusandae natus eveniet, similique ipsa officiis? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit alias nam, dolorem inventore mollitia ea delectus blanditiis eligendi, deleniti dicta ullam consequuntur nulla eius recusandae natus eveniet, similique ipsa officiis?
				</p>

				<p class="info_content_paragraph">
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit alias nam, dolorem inventore mollitia ea delectus blanditiis eligendi, deleniti dicta ullam consequuntur nulla eius recusandae natus eveniet, similique ipsa officiis? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit alias nam, dolorem inventore mollitia ea delectus blanditiis eligendi, deleniti dicta ullam consequuntur nulla eius recusandae natus eveniet, similique ipsa officiis?
				</p>

				<p class="info_content_paragraph">
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit alias nam, dolorem inventore mollitia ea delectus blanditiis eligendi, deleniti dicta ullam consequuntur nulla eius recusandae natus eveniet, similique ipsa officiis? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit alias nam, dolorem inventore mollitia ea delectus blanditiis eligendi, deleniti dicta ullam consequuntur nulla eius recusandae natus eveniet, similique ipsa officiis?
				</p>
			</div>
		</div>
	</div>
{% endblock %}